@page
@model SecretModel
@{
    ViewData["Title"] = "Secrets";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <form method="POST">
        <div>SecretIdentifier</div>
        <div>@Html.TextAreaFor(m => m.SecretIdentifier, 2, 50, null)</div>
        <input type="submit" />
    </form>
</div>
<div class="row">
    <p><b>Secret Value:</b> @Model.SecretValue</p>
</div>